<template>
    <footer>
        <div class="g-section-footer">
            <div class="g-content">
                <p class="footer-cond-text">
                    <b>Leanloan, 2019–2020.</b>
                    Информация на этом сайте несет ознакомительный характер. Все рекомендации являются результатом аналитических исследований, следовать им или нет, вы
                    решаете самостоятельно. Конечные условия уточняйте при прямом общении с кредиторами. Сервис Leanloan не
                    принадлежит финансовой организации и на нем не оказываются финансовые услуги.
                </p>
            </div>
        </div>
    </footer>
</template>
