<template>
    <header>
        <nav class="top-menu">
            <a class="navbar-logo" href="/">
                <img data-logo src="./images/logo.png" height="44px" alt="Leanloan">
            </a>
            <ul class="menu-main">
                <li><a class="menu-link" href="https://leanloan.com.ua">Главная</a></li>
                <li><a class="menu-link" href="https://leanloan.com.ua/#about-service">О сервисе</a></li>
                <li><a class="menu-link" href="https://leanloan.com.ua/all">Рейтинг МФО</a></li>
            </ul>
        </nav>

        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox"/>
            <label class="menu__btn" for="menu__toggle"><span></span></label>
            <ul class="menu__box">
                <li><a class="menu__item" href="https://leanloan.com.ua">Главная</a></li>
                <li><a class="menu__item" href="https://leanloan.com.ua/#about-service">О сервисе</a></li>
            </ul>
            <img src="./images/logo-small.png" class="hamburger-logo" alt="Leanloan">
        </div>
    </header>
</template>
