/*******************************
1.General
2.Sections
3.Navbar
4.Offers
5.Filters
6.Steps
7.Information
8.Footer
********************************/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700,900&display=swap&subset=cyrillic');

/*******************
    1.General
*******************/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;.offer-list li
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif !important;
    font-size: 16px;
    background-color: transparent;
}

/*******************
    2.Sections
*******************/

.g-container, .g-content {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .g-container {
        padding: 0 5px;
    }

    .g-section-top {
        width: 100%;
        margin: 0 auto;
        background-color: #f8fafe;
        padding-bottom: 90px;
    }
}

@media (max-width: 768px) {
    .g-section-top {
        width: 100%;
        margin: 0 auto;
        background-color: #f4f7fa;
        padding-bottom: 30px;
    }
}

.head-section {
    background-color: #2f55d4;
    border-radius: 0 0 30px 30px;
}

@media (max-width: 768px) {
    .head-section {
        border-radius: 0 0 15px 15px;
    }
}

.g-section-steps {
    width: 100%;
    margin: 0 auto;
    background-color: #2f55d4;
    padding-bottom: 75px;
}

@media (max-width: 768px) {
    .g-section-steps {
        width: 100%;
        margin: 0 auto;
        background-color: #2f55d4;
        padding-bottom: 30px;
    }
}

.g-container-steps {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .g-container-steps {
        padding: 0 5px;
    }
}

.g-section-filers {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding-bottom: 75px;
}

@media (max-width: 768px) {
    .g-section-filters {
        width: 100%;
        margin: 0 auto;
        background-color: #ffffff;
        /*padding-bottom: 20px;*/
    }
}

.g-container-filters {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .g-container-filters {
        padding: 0 5px;
    }
}

.g-section-middle {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.g-section-footer {
    width: 100%;
    margin: 0 auto;
    background-color: #2f55d4;
}

/*******************
    1.Navbar
*******************/
.headtext-top {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 38px;
    font-weight: 500;
    width: 700px;
    color: #ffffff;
    padding-top: 70px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .headtext-top {
        display: block;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        color: #ffffff;
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.3;
        text-align: center;
        width: 100%;
    }
}

.headtext-under {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
    padding-top: 20px;
    padding-bottom: 110px;
}

@media (max-width: 768px) {
    .headtext-under {
        text-align: center;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 30px;
        margin-left: 5px;
        margin-right: 5px;
        color: rgba(255, 255, 255, 0.8);
    }
}

/*Desktop Navbar*/
.top-menu {
    max-width: 1260px;
    margin: auto;
    padding: 12px 30px 0 30px;
}

.top-menu:after {
    content: "";
    display: table;
    clear: both;
}

.navbar-logo {
    display: inline-block;
    padding-top: 16px;
    padding-left: 30px;
}

.menu-main {
    list-style: none;
    margin: 0;
    padding-top: 2px;
    float: right;
}

.menu-main li {
    display: inline-block;
}

.menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 25px;
    margin: 5px 10px;
    padding: 5px 15px;
    font-size: 17px;
    letter-spacing: 0;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    transition: .3s linear;
}

.menu-main a:hover:before {
    opacity: 1;
}

a.shine-link {
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    color: #34D1BF;
    background: rgba(52, 209, 191, 0.2);
    border-color: transparent;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a.shine-link:hover {
    color: #ffffff;
    -webkit-box-shadow: 0 16px 31px -16px #34D1BF;
    box-shadow: 0 16px 31px -16px #34D1BF;
    background: #2cc4b3;
    border-color: #2cc4b3;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    outline: none;
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu-main {
        float: none;
        padding-top: 20px;
    }

    .top-menu {
        text-align: center;
        padding: 20px 0 0 0;
    }

    .menu-main a {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .menu-main li {
        display: block;
    }
}

.active-link a {
    padding: 5px 15px;
    color: white;
    font-size: 16px;
}

.menu-link:hover {
    color: white;
}

@media (max-width: 768px) {
    .top-menu,
    .menu-main,
    .menu-link {
        display: none;
    }
}

/*Mobile Navbar*/
#menu-toggle,
.menu-btn,
.menu-btn,
.menu-box,
.menu-item,
.hamburger-logo,
.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: inline-block;
        width: 100%;
    }

    .hamburger-logo {
        float: right;
        padding-top: 13px;
        padding-right: 11px;
        display: inline-block;
    }

    #menu-toggle {
        opacity: 0;
        visibility: visible;
    }

    #menu-toggle:checked ~ .menu-btn > span {
        transform: rotate(45deg);
        visibility: visible;
    }

    #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
        visibility: visible;
    }

    #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
        visibility: visible;
    }

    #menu-toggle:checked ~ .menu-box {
        visibility: visible;
        left: 0;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 100;
        visibility: visible;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        transition-duration: .25s;
        visibility: visible;
    }

    .menu-btn > span::before {
        content: '';
        top: -8px;
        visibility: visible;
    }

    .menu-btn > span::after {
        content: '';
        top: 8px;
        visibility: visible;
    }

    .menu-box {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 220px;
        margin: 0;
        padding: 65px 0 20px 0;
        z-index: 99;
        list-style: none;
        background-color: #ffffff;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }

    .menu-item {
        display: block;
        padding: 7px 22px;
        color: #333;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        transition-duration: .25s;
        visibility: visible;
    }

    .menu-item:hover {
        font-weight: 500;
        color: #ffffff;
        background-color: #2f55d4;
        visibility: visible;
    }
}

/*******************
    4.Offers
*******************/
.teasers {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding-top: 30px;
}

@media (max-width: 768px) {
    .teasers {
        margin: 0 -5px;
        padding-top: 15px;
    }
}

@media (max-width: 992px) {
    .teaser {
        flex: 1 0 50%;
    }
}

@media (max-width: 992px) {
    .teaser {
        flex: 1 0 50%;
    }
}

.teaser {
    flex: 1 0 25%;
    padding: 0 20px;
}

@media (max-width: 1199px) {
    .teaser {
        flex: 0 0 33.33%;
    }

    .teasers {
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .teaser {
        flex: 1 0 50%;
    }
}

@media (max-width: 768px) {
    .teaser {
        padding: 0 5px 0;
    }
}

.servicestext-top {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    color: #343a40;
    padding-bottom: 6px;
    line-height: 1.3;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 768px) {
    .servicestext-top {
        font-size: 20px;
    }
}

.servicestext-over {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #2f55d4;
    padding-top: 60px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .servicestext-over {
        padding-top: 35px;
        font-size: 14px;
    }
}

.servicestext-under {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #989898;
    padding-top: 6px;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .servicestext-under {
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 0;
    }
}

.offer {
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .25s;
    margin-top: 7%;
    background-color: white;
}

@media (max-width: 768px) {
    .offer {
        position: relative;
        overflow: hidden;
        transition: .25s;
        margin-top: 5%;
    }
}

.offer a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.offer:hover {
}

.offer:hover .offer-button {
    -webkit-box-shadow: 0 16px 31px -16px #2f55d4;
    box-shadow: 0 16px 31px -16px #2f55d4;
    background: #294dc6;
    border-color: #294dc6;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    outline: none;
    text-decoration: none;
}

.offer-logo {
    padding: 15px;
    height: 90px;
    background-color: white;
}

.offer-logo img {
    display: block;
    margin: 0 auto;
    max-width: 60%;
}

@media (max-width: 768px) {
    .offer-logo {
        padding: 10px;
        height: 70px;
        background-color: white;
    }

    .offer-logo img {
        display: block;
        margin: 0 auto;
        max-width: 60%;
    }
}

.offer-title-company {
    background-color: #ffe69b;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: #333;
}

.offer-title {
    background-color: white;
    padding: 0 11px 20px 11px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #343a40;
}

@media (max-width: 768px) {
    .offer-title {
        padding: 8px 8px 20px 8px;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
        color: #333;
    }
}

.offer-list {
    list-style-type: none;
    padding-top: 20px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .offer-list {
        padding-top: 18px;
    }
}

.offer-list li {
    background-color: white;
    display: block;
    padding: 4px 0;
    font-size: 15px;
    text-align: center;
    color: #343a40;
}

.offer-list li span {
    font-weight: 500;
}

@media (max-width: 768px) {
    .offer-list li {
        padding: 4px 0;
        font-size: 14px;
    }
}

.all-button {
    text-align: center;
    color: #ffffff;
    border-radius: 7px;
    background-color: #34D1BF;
    border-color: #34D1BF;
    box-shadow: 0 8px 14px rgba(52, 209, 191, 0.2);
    margin-top: 13px;
    font-size: 18px;
    padding: 12px 33px;
    text-decoration: none;
    font-weight: 500;
}

.all-button:hover {
    -webkit-box-shadow: 0 16px 31px -16px #34D1BF;
    box-shadow: 0 16px 31px -16px #34D1BF;
    background: #2cc4b3;
    border-color: #2cc4b3;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    outline: none;
    text-decoration: none;
}

@media (max-width: 768px) {
    .all-button {
        font-size: 16px;
        /*text-align: center;*/
        /*color: white;*/
        /*background-color: #41a0e9;*/
        /*margin-top: 13px;*/
        /*text-transform: uppercase;*/
        /*font-size: 27px;*/
        /*font-weight: 700;*/
        /*padding: 9px 44px;*/
        /*text-decoration: none;*/
    }
}

.all-services-button {
    text-align: center;
    margin-top: 85px;
    display: inline-block;
    width: 100%;
}

@media (max-width: 768px) {
    .all-services-button {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 26px;
        display: inline-block;
        width: 100%;
    }
}

li.seccol {
    background-color: #fffad0;
}

.offer-button {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #2f55d4;
    color: #ffffff;
    height: 40px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    transition: .5s;
}

.offer-button:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

@media (max-width: 768px) {
    .offer-button {
        margin: 0px 15px 0 15px;
        font-size: 14px;
        height: 35px;
    }
}

.offer-wrap {
    text-decoration: none;
    background-color: transparent;
    color: #525453;
}

/*******************
    5.Filters
*******************/
.filtertext-over {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #2f55d4;
    padding-top: 85px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .filtertext-over {
        padding-top: 40px;
    }
}

.filtertext-top {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    color: #343a40;
    padding-bottom: 20px;
    line-height: 1.3;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 768px) {
    .filtertext-top {
        display: block;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        color: #222;
        padding-top: 0;
        padding-bottom: 7px;
        line-height: 1.3;
        text-align: center;
    }
}

.filtertext-under {
    text-align: center;
    font-size: 23px;
}

@media (max-width: 768px) {
    .filertext-under {
        text-align: center;
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}

.four-filters {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    padding-bottom: 90px;
}

@media (max-width: 768px) {
    .four-filters {
        margin: 0 -5px;
        padding-bottom: 0;
    }
}

.filters {
    flex: 1 0 25%;
    padding: 0 14px;
}

.filter {
    position: relative;
    overflow: hidden;
    transition: .25s;
    margin-top: 7%;
}

@media (max-width: 768px) {
    .filter {

    }
}

@media (max-width: 768px) {
    .filters {
        flex: 0 0 50%;
    }
}

.colored-link {
    color: #2f55d4;
    text-decoration: none;
}

.colored-link:hover {
    color: #343a40;
}

.filter-title {
    background-color: #ffffff;
    padding: 11px;
    font-size: 16px;
    text-align: left;
    margin-left: 19px;
    font-weight: 500;
    color: #343a40;
}

@media (max-width: 768px) {
    .filter-title {
        background-color: #ffffff;
        padding: 8px;
        font-size: 15px;
        text-align: left;
        margin-left: 19px;
        font-weight: 500;
        color: #333;
    }
}

.filter-list {
    list-style-type: none;
}

@media (max-width: 768px) {
    .filter-list {
        padding-left: 0;
    }
}

.filter-list li {
    background-color: white;
    color: #343a40;
    display: block;
    padding: 5px 0;
    font-size: 15px;
    text-align: left;
    margin-left: 15px;
}

@media (max-width: 768px) {
    .filter-list li {
        padding: 4px 0;
        font-size: 14px;
    }
}

.filters-all {
    text-align: center;
    margin-top: 75px;
    display: inline-block;
    width: 100%;
}

@media (max-width: 768px) {
    .filters-all {
        text-align: center;
        margin-top: 45px;
        margin-bottom: 50px;
        display: inline-block;
        width: 100%;
    }
}

.all-button-filters {
    text-align: center;
    color: #ffffff;
    border-radius: 7px;
    background-color: #34D1BF;
    border-color: #34D1BF;
    box-shadow: 0 8px 14px rgba(52, 209, 191, 0.2);
    margin-top: 13px;
    font-size: 18px;
    padding: 12px 33px;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}

.all-button-filters:hover {
    -webkit-box-shadow: 0 16px 31px -16px #34D1BF;
    box-shadow: 0 16px 31px -16px #34D1BF;
    background: #2cc4b3;
    border-color: #2cc4b3;
}

@media (max-width: 768px) {
    .all-button-filters {
        font-size: 16px;
        /*text-align: center;*/
        /*color: white;*/
        /*background-color: #41a0e9;*/
        /*margin-top: 13px;*/
        /*font-size: 18px;*/
        /*font-weight: 700;*/
        /*padding: 9px 28px;*/
        /*text-decoration: none;*/
    }
}

/*******************
    6.Steps
*******************/
.steptext-top {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    color: #ffffff;
    padding-top: 55px;
    padding-bottom: 28px;
    line-height: 1.3;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 768px) {
    .steptext-top {
        display: block;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        color: #ffffff;
        padding-top: 40px;
        padding-bottom: 0;
        line-height: 1.3;
        text-align: center;
    }
}

.steptext-under {
    text-align: center;
    font-size: 23px;
}

@media (max-width: 768px) {
    .steptext-under {
        text-align: center;
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}

.three-steps {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}

.step {
    flex: 1 0 33.33%;
    padding: 0 14px;
}

@media (max-width: 768px) {
    .three-steps {
        margin: 0 -5px;
    }

    .step {
        flex: 1 0 100%;
        padding: 0 5px 0;
    }
}

.step-parted {
    position: relative;
    overflow: hidden;
    transition: .25s;
    margin-top: 7%;
}

@media (max-width: 768px) {
    .step-parted {
        position: relative;
        overflow: hidden;
        transition: .25s;
        margin-top: 5%;
    }
}

.step-logo {
    padding: 15px;
    height: 85px;
    background-color: #2f55d4;
}

@media (max-width: 768px) {
    .step-logo {
        padding: 10px;
        height: auto;
        margin: 0 auto;
        background-color: #2f55d4;
    }
}

.step-logo img {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: 85px;
}

@media (max-width: 768px) {
    .step-logo img {
        display: block;
        margin: 0 auto;
        max-width: 35%;
    }
}

.step-title {
    background-color: #2f55d4;
    font-family: 'Rubik', sans-serif;
    padding: 40px 11px 11px 11px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
}

@media (max-width: 768px) {
    .step-title {
        background-color: #2f55d4;
        padding: 4px;
        font-size: 15px;
        text-align: center;
        font-weight: 400;
        color: #ffffff;
    }
}

.steps-all {
    text-align: center;
    margin-top: 80px;
    display: inline-block;
    width: 100%;
}

@media (max-width: 768px) {
    .steps-all {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 26px;
        display: inline-block;
        width: 100%;
    }
}

.all-button-steps {
    text-align: center;
    color: #ffffff;
    border-radius: 7px;
    background-color: #34D1BF;
    border-color: #34D1BF;
    box-shadow: 0 8px 14px rgba(52, 209, 191, 0.2);
    margin-top: 13px;
    font-size: 18px;
    padding: 12px 33px;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}

.all-button-steps:hover {
    -webkit-box-shadow: 0 16px 31px -16px #34D1BF;
    box-shadow: 0 16px 31px -16px #34D1BF;
    background: #2cc4b3;
    border-color: #2cc4b3;
}

@media (max-width: 768px) {
    .all-button-steps {
        font-size: 16px;
        /*text-align: center;*/
        /*color: white;*/
        /*background-color: #41a0e9;*/
        /*margin-top: 13px;*/
        /*font-size: 18px;*/
        /*font-weight: 700;*/
        /*padding: 9px 28px;*/
        /*text-decoration: none;*/
    }
}

/*******************
    7.Information
*******************/
@media (max-width: 768px) {
    .conditions {
        margin-top: 0;
    }
}

.infotext-over {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #2f55d4;
    padding-top: 85px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .infotext-over {
        padding-top: 50px;
    }
}

.middletext-under {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .middletext-under {
        text-align: center;
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}

.middletext-top {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    color: #222;
    line-height: 1.3;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 768px) {
    .middletext-top {
        display: block;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        color: #222;
        /*padding-top: 25px;*/
        line-height: 1.3;
        text-align: center;
    }
}

.conditions {
    max-width: 1320px;
    margin: 20px auto 0;
    width: 50%;
    display: inline-block;
}

.conditions-2 {
    max-width: 1320px;
    margin: 20px auto 0;
    width: 50%;
    display: inline-block;
    float: right;
}

@media (max-width: 768px) {
    .conditions {
        max-width: 1320px;
        margin: 20px auto 0;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .conditions-2 {
        max-width: 1320px;
        margin: 0;
        width: 100%;
        float: none;
    }
}

.li-colored {
    font-weight: 500;
    color: #343a40;
}

.cond-head {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .cond-head {
        padding-top: 15px;
        font-size: 18px;
        font-weight: 400;
        margin-left: 0;
    }
}

.cond-head-h2 {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .cond-head-h2 {
        padding-top: 0;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-left: 0;
    }
}

.cond-text {
    font-size: 14px;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .cond-text {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0;
    }
}

.cond-pts {
    font-size: 14px;
    font-weight: 300;
    margin-left: 47px;
}

@media (max-width: 768px) {
    .cond-pts {
        font-size: 14px;
        margin-left: 17px;
    }
}

/*******************
    8.Footer
*******************/
.before-footer {
    height: 35px;
}

@media (max-width: 768px) {
    .before-footer {
        height: 25px;
    }
}

.footer-cond-text {
    font-size: 15px;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #ffffff;
}

@media (max-width: 768px) {
    .footer-cond-text {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}














