html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
}

/* Top section markup STARTS */ 
.g-section-top {
  /* max-width: 1920px; */
  width: 100%;
  margin: 0 auto;
  background-color: #eaf0f8;
  padding-bottom: 90px;
}

@media(max-width:768px) {
  .g-section-top {
    /* max-width: 1920px; */
    width: 100%;
    margin: 0 auto;
    background-color: #eaf0f8;
    padding-bottom: 30px;
  }
}
/* Top section markup ENDS */ 

/* Submiddle section markup STARTS */ 
.g-section-submiddle {
  /* max-width: 1920px; */
  width: 100%;
  margin: 0 auto;
  background-color: #bdeaff;
}
/* Submiddle section markup ENDS */ 

/* Middle section markup STARTS */ 
.g-section-middle {
  /* max-width: 1920px; */
  width: 100%;
  margin: 0 auto;
  background-color: #ffe69b;
}
/* Middle section markup ENDS */

.g-section-companies {
  /* max-width: 1920px; */
  width: 100%;
  margin: 0 auto;
  background-color: #d1f1ff;
  padding-bottom: 30px;
}

@media(max-width:768px) {
  .g-section-companies {
    /* max-width: 1920px; */
    width: 100%;
    margin: 0 auto;
    background-color: #d1f1ff;
    padding-bottom: 15px;
    padding-top: 5px;
  }
}

.g-section-footer {
  /* max-width: 1920px; */
  width: 100%;
  margin: 0 auto;
  background-color: #bdeaff;
}

/* Menu section markup STARTS */
.top-menu {
  /* background: rgba(255,255,255,.5); */
  /* box-shadow: 3px 0 7px rgba(0,0,0,.3); */
  max-width: 1260px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.top-menu:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-logo {
  display: inline-block;
  padding-top: 9px;
}

.menu-main {
  list-style: none;
  margin: 0;
  padding-top: 15px;
  float: right;
}

.menu-main li {
  display: inline-block;
}

.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 25px;
  margin: 5px 15px;
  padding: 5px 15px;
  font-size: 18px;
  letter-spacing: 0px;
  /* font-family: 'Arimo', sans-serif; */
  font-weight: bold;
  color: #1b90e9;
  transition:.3s linear;
}

.menu-main a:hover:before {
  opacity: 1;
}

@media (max-width: 768px) {
  .menu-main {
    float: none;
    padding-top: 20px;
  }

  .top-menu {
    text-align: center;
    padding: 20px 0 0 0;
  }

  .menu-main a {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .menu-main li {
    display: block;
  }
}

.active-link a {
  padding: 5px 15px;
  background-color: #edb641;
  color: black;
}

.menu-link:hover {
  background-color: #edb641;
  color: black;
}

@media (max-width: 768px) {
  .top-menu,
  .menu-main,
  .menu-link {
    display: none;
  }
}
/* Menu section markup ENDS */


/* Hamberger Menu STARTS */
#menu__toggle, 
.menu__btn, 
.menu__btn, 
.menu__box,
.menu__item,
.hamburger-logo,
.hamburger-menu
 {
  display: none;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: inline-block;
    width: 100%;
  }

  .hamburger-logo {
    float: right;
    padding-top: 13px;
    padding-right: 11px;
    display: inline-block;
  }

  #menu__toggle {
    opacity: 0;
    visibility: visible;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    visibility: visible;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    visibility: visible;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    visibility: visible;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 100;
    visibility: visible;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
    visibility: visible;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
    visibility: visible;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
    visibility: visible;
  }

  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 220px;
    /* height: 100%; */

    margin: 0;
    padding: 65px 0 20px 0;
    z-index: 99;

    list-style: none;

    background-color: #fff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 7px 22px;

    color: #333;

    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
    visibility: visible;
  }
  .menu__item:hover {
    font-weight: 600;
    color: black;
    background-color: #edb641;
    visibility: visible;
  }
}
/* Hamberger Menu ENDS */

.g-container, .g-content {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.teasers {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

/* Steps section STARTS */
.g-section-steps {
  /* max-width: 1920px; */
  width: 100%;
  margin: 0 auto;
  background-color: #bdeaff;
  padding-bottom: 75px;
}

@media(max-width:768px) {
  .g-section-steps {
    /* max-width: 1920px; */
    width: 100%;
    margin: 0 auto;
    background-color: #bdeaff;
    padding-bottom: 25px;
  }
}

.g-container-steps {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media(max-width:768px) {
  .g-container-steps {
    padding: 0 5px;
  }
}

.steptext-top {
  display: block;
  font-family: "Fira Sans",sans-serif;
  font-size: 45px;
  color: #222;
  padding-top: 60px;
  padding-bottom: 20px;
  line-height: 1.3;
  text-align: center;
  font-weight: 700;
}

.steptext-under {
  text-align: center;
  font-size: 23px;
  /* padding-bottom: 20px; */
}

@media(max-width:768px) {
  .steptext-top {
    display: block;
    font-family: "Fira Sans",sans-serif;
    font-size: 25px;
    color: #222;
    padding-top: 35px;
    padding-bottom: 0px;
    /*margin-top: 20px;*/
    line-height: 1.3;
    text-align: center;
  }
  .steptext-under {
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

.three-steps {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}

.step {
  flex: 1 0 33.33%;
  padding: 0 14px;
}

@media(max-width:768px) {
  .three-steps {
    margin: 0 -5px;
  }
  .step {
    flex: 1 0 100%;
    padding: 0 5px 0;
  }
}

.step-parted {
  position: relative;
  /* border-radius: 6px; */
  /* box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1); */
  /* border: 1px solid #cfcece; */
  overflow: hidden;
  transition: .25s;
  margin-top: 7%;
}

@media(max-width:768px) {
  .step-parted {
    position: relative;
    /* border-radius: 6px; */
    /* box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1); */
    /* border: 1px solid #cfcece; */
    overflow: hidden;
    transition: .25s;
    margin-top: 5%;
  }
}

.step-logo {
  padding: 15px;
  height: 185px;
  background-color: #bdeaff;
}

.step-logo img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}

@media(max-width:768px) {
  .step-logo {
    padding: 10px;
    height: auto;
    /* max-width: 50%; */
    margin: 0 auto;
    background-color: #bdeaff;
  }
  .step-logo img {
    display: block;
    margin: 0 auto;
    max-width: 35%;
  }
}

.step-title {
  background-color: #bdeaff;
  padding: 11px;
  font-size: 19px;
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: 500;
  color: #000;
  /* border-top: 1px solid #cfcece; */
  /* border-bottom: 1px solid #cfcece; */
}

@media(max-width:768px) {
  .step-title {
    background-color: #bdeaff;
    padding: 4px;
    font-size: 16px;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 500;
    color: #000;
  }
}

.steps-all {
  text-align: center;
  margin-top: 70px;
  display: inline-block;
  width: 100%;
}

@media(max-width:768px) {
  .steps-all {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 26px;
    display: inline-block;
    width: 100%;
  }
}

.all-button-steps {
  text-align: center;
  color: white;
  background-color: #41a0e9;
  margin-top: 13px;
  /* text-transform: uppercase; */
  font-size: 18px;
  font-weight: 700;
  padding: 12px 32px;
  text-decoration: none;
}

.all-button-steps:hover {
  background-color: #1b90e9; 
}

@media(max-width:768px) {
  .all-button-steps {
    text-align: center;
    color: white;
    background-color: #41a0e9;
    margin-top: 13px;
    /* text-transform: uppercase; */
    font-size: 18spx;
    font-weight: 700;
    padding: 9px 28px;
    text-decoration: none;
  }
}
/* Steps section ENDS */

/* Filters section STARTS */
.g-section-filers {
  /* max-width: 1920px; */
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 75px;
}

@media(max-width:768px) {
  .g-section-filters {
    /* max-width: 1920px; */
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 20px;
  }
}

.g-container-filters {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media(max-width:768px) {
  .g-container-filters {
    padding: 0 5px;
  }
}

.filtertext-top {
  display: block;
  font-family: "Fira Sans",sans-serif;
  font-size: 45px;
  color: #222;
  padding-top: 60px;
  padding-bottom: 20px;
  line-height: 1.3;
  text-align: center;
  font-weight: 700;
}

.filtertext-under {
  text-align: center;
  font-size: 23px;
  /* padding-bottom: 20px; */
}

@media(max-width:768px) {
  .filtertext-top {
    display: block;
    font-family: "Fira Sans",sans-serif;
    font-size: 25px;
    color: #222;
    padding-top: 35px;
    padding-bottom: 7px;
    /*margin-top: 20px;*/
    line-height: 1.3;
    text-align: center;
  }
  .filertext-under {
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

.four-filters {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  padding-bottom: 75px;
}

@media(max-width:768px) {
  .four-filters {
    margin: 0 -5px;
    padding-bottom: 0px;
  }
}

.filters {
  flex: 1 0 25%;
  padding: 0 14px;
}

.filter {
  position: relative;
  /* border-radius: 6px; */
  /* box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1); */
  /* border: 1px solid #cfcece; */
  overflow: hidden;
  transition: .25s;
  margin-top: 7%;
}

@media(max-width:768px) {
  .filter {
    
  }
}

@media(max-width:768px) {
  .filters {
    flex: 0 0 50%;
  }
}

.filter-title {
  background-color: #fff;
  padding: 11px;
  font-size: 20px;
  text-align: left;
  margin-left: 19px;
  /* text-transform: uppercase; */
  font-weight: 700;
  color: #000;
  /* border-top: 1px solid #cfcece; */
  /* border-bottom: 1px solid #cfcece; */
}

@media(max-width:768px) {
  .filter-title {
    background-color: #fff;
    padding: 8px;
    font-size: 17px;
    text-align: left;
    margin-left: 19px;
    /* text-transform: uppercase; */
    font-weight: 700;
    color: #333;
  }
}

.filter-list {
  list-style-type: none;
}

.filter-list li {
  background-color: white;
  display: block;
  padding: 5px 0;
  font-size: 16px;
  text-align: left;
  margin-left: 15px;
  /* border-bottom: 1px solid #cfcece; */
}

@media(max-width:768px) {
  .filter-list li {
    padding: 4px 0;
    font-size: 13px;
  }
}

.filters-all {
  text-align: center;
  margin-top: 70px;
  display: inline-block;
  width: 100%;
}

@media(max-width:768px) {
  .filters-all {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
  }
}

.all-button-filters {
  text-align: center;
  color: white;
  background-color: #41a0e9;
  margin-top: 13px;
  /* text-transform: uppercase; */
  font-size: 18px;
  font-weight: 700;
  padding: 12px 32px;
  text-decoration: none;
}

.all-button-filters:hover {
  background-color: #1b90e9;
}

@media(max-width:768px) {
  .all-button-filters {
    text-align: center;
    color: white;
    background-color: #41a0e9;
    margin-top: 13px;
    /* text-transform: uppercase; */
    font-size: 18spx;
    font-weight: 700;
    padding: 9px 28px;
    text-decoration: none;
  }
}

.colored-link {
  color: #1b90e9;
  text-decoration: none;
}

.colored-link:hover {
  color: #1b90e9;
  text-decoration: underline;
}
/* Filters section ENDS */

@media(max-width:992px) {
  .teaser {
    flex: 1 0 50%;
  }
}

@media(max-width:992px) {
  .teaser {
    flex: 1 0 50%;
  }
}

.teaser {
  flex: 1 0 25%;
  padding: 0 14px;
}

.offer {
  position: relative;
  /* border-radius: 6px; */
  /* box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1); */
  /* border: 1px solid #cfcece; */
  overflow: hidden;
  transition: .25s;
  margin-top: 7%;
}

@media(max-width:768px) {
  .offer {
    position: relative;
    /* border-radius: 6px; */
    /* box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1); */
    /* border: 1px solid #cfcece; */
    overflow: hidden;
    transition: .25s;
    margin-top: 5%;
  }
}

.offer a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.offer:hover {
  transform: scale(1.03);
}

.offer:hover .offer--button {
  background-color: #1b90e9;
  color: #fff;
}

.offer--logo {
  padding: 15px;
  height: 90px;
  background-color: white;
}

.offer--logo img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}

@media(max-width:768px) {
  .offer--logo {
    padding: 10px;
    height: 70px;
    background-color: white;
  }
  .offer--logo img {
    display: block;
    margin: 0 auto;
    max-width: 60%;
  }
}

.offer--title-company {
  background-color: #ffe69b;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: 500;
  color: #333;
  /* border-top: 1px solid #cfcece; */
  /* border-bottom: 1px solid #cfcece; */
}

.offer--title {
  background-color: #fffad0;
  padding: 11px;
  font-size: 16px;
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: 500;
  color: #333;
  /* border-top: 1px solid #cfcece; */
  /* border-bottom: 1px solid #cfcece; */
}

@media(max-width:768px) {
  .offer--title {
    background-color: #fffad0;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 700;
    color: #333;
  }
}

.offer--list {
  list-style-type: none;
}

.offer--list li {
  background-color: white;
  display: block;
  padding: 6px 0;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #cfcece;
}

.offer--list li span {
  font-weight: 500;
}

@media(max-width:768px) {
  .offer--list li {
    padding: 4px 0;
    font-size: 13px;
  }
}

/* All companies button START */
.all-button {
  text-align: center;
  color: white;
  background-color: #41a0e9;
  margin-top: 13px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  padding: 12px 52px;
  text-decoration: none;
}

.all-button:hover {
  background-color: #1b90e9;
}

@media(max-width:768px) {
  .all-button {
    text-align: center;
    color: white;
    background-color: #41a0e9;
    margin-top: 13px;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    padding: 9px 44px;
    text-decoration: none;
  }
}

/* .all-button:hover {
  transform: scale(1.03);
} */

.all-services-button {
  text-align: center;
  margin-top: 70px;
  display: inline-block;
  width: 100%;
}

@media(max-width:768px) {
  .all-services-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 26px;
    display: inline-block;
    width: 100%;
  }
}
/* All companies button END */

li.seccol {
  background-color: #fffad0;
}

.offer--button {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #41a0e9;
  color: #fff;
  /* max-width: 90%; */
  /* border: 2px solid #5285ec; */
  height: 50px;
  /* margin: 15px auto; */
  /* border-radius: 6px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  transition: .1s;
}

@media(max-width:768px) {
  .offer--button {
    margin: 5px auto;
    font-size: 15px;
    height: 45px;
  }
}

.offer_wrap {
  text-decoration: none;
  background-color: transparent;
  color: #525453;
}

.headtext-top {
  display: block;
  font-family: "Fira Sans",sans-serif;
  font-size: 45px;
  color: #222;
  padding-top: 60px;
  line-height: 1.3;
  text-align: center;
}

.headtext-under {
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.middletext-under {
  text-align: center;
  font-size: 23px;
  /* padding-bottom: 20px; */
}

@media(max-width:768px) {
  .middletext-under {
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

.middletext-top {
  display: block;
  font-family: "Fira Sans",sans-serif;
  font-size: 45px;
  color: #222;
  padding-top: 75px;
  line-height: 1.3;
  text-align: center;
  font-weight: 700;
}

@media(max-width:768px) {
  .middletext-top {
    display: block;
    font-family: "Fira Sans",sans-serif;
    font-size: 25px;
    color: #222;
    padding-top: 25px;
    line-height: 1.3;
    text-align: center;
  }
}

.companytext-top {
  display: block;
  font-family: "Fira Sans",sans-serif;
  font-size: 40px;
  color: #222;
  padding-top: 30px;
  line-height: 1.3;
  text-align: center;
}

@media(max-width:768px) {
  .companytext-top {
    display: block;
    font-family: "Fira Sans",sans-serif;
    font-size: 25px;
    color: #222;
    padding-top: 20px;
    line-height: 1.3;
    text-align: center;
  }
}

.companytext-under {
  text-align: center;
  font-size: 20px;
  padding-bottom: 25px;
}

@media(max-width:768px) {
  .companytext-under {
    text-align: center;
    font-size: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media(max-width:768px) {
  .headtext-top {
    display: block;
    font-family: "Fira Sans",sans-serif;
    font-size: 23px;
    color: #222;
    padding-top: 15px;
    /*margin-top: 20px;*/
    line-height: 1.3;
    text-align: center;
  }
  .headtext-under {
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

@media(max-width:1199px) {
  .teaser {
    flex: 0 0 33.33%;
  }

  .teasers {
    justify-content: center;
  }
}

@media(max-width:992px) {
  .teaser {
    flex: 1 0 50%;
  }
}

@media(max-width:768px) {
  .g-container {
    padding: 0 5px;
  }

  .teasers {
    margin: 0 -5px;
  }

  .teaser {
    padding: 0 5px 0;
  }
}

.company-teasers {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.company-teaser {
  flex: 1 0 33%;
  padding: 0 20px;
}

@media(max-width:1279px) {
  .company-teasers {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }

  .company-teaser {
    padding: 0 5px 0;
    flex: 1 0 50%;
  }
}

@media(max-width:767px) {
  .company-teasers {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }

  .company-teaser {
    padding: 0 5px 0;
    flex: 1 0 100%;
  }
}

.before-footer {
  height: 35px;
}

@media(max-width:768px) {
  .before-footer {
    height: 25px;
  }
}

.sect3 {
  padding: 40px 0;
}

.sect3 h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.conditions {
  max-width: 1320px;
  margin: 20px auto 0;
  width: 50%;
  display: inline-block;
  /* border: 1px dashed #cfcece; */
  /* padding: 25px; */
}

.conditions-2 {
  max-width: 1320px;
  margin: 20px auto 0;
  width: 50%;
  display: inline-block;
  float: right;
  /* border: 1px dashed #cfcece; */
  /* padding: 25px; */
}

@media(max-width:768px) {
  .conditions {
    max-width: 1320px;
    margin: 20px auto 0;
    width: 100%;
    /* border: 1px dashed #cfcece; */
    /* padding: 25px; */
  }
}

@media(max-width:768px) {
  .conditions-2 {
    max-width: 1320px;
    margin: 0px;
    width: 100%;
    float: none;
    /* border: 1px dashed #cfcece; */
    /* padding: 25px; */
  }
}

.li-colored {
  font-weight: 900;
  color: #ffd599;
}

.cond-head {
  /* padding-bottom: 10px; */
  padding-top: 30px;
  font-size: 30px;
  font-weight: 500;
  margin-left: 30px;
}

@media(max-width:768px) {
  .cond-head {
    /* padding-bottom: 10px; */
    padding-top: 15px;
    font-size: 21px;
    font-weight: 700;
    margin-left: 0px;
  }
}

.cond-head-h2 {
  /* padding-bottom: 10px; */
  padding-top: 30px;
  font-size: 35px;
  font-weight: 700;
  margin-left: 30px;
}

@media(max-width:768px) {
  .cond-head-h2 {
    /* padding-bottom: 10px; */
    padding-top: 15px;
    font-size: 21px;
    font-weight: 700;
    margin-left: 0px;
  }
}

.cond-text {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
}

@media(max-width:768px) {
  .cond-text {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
  }
}

.footer-cond-text {
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media(max-width:768px) {
  .footer-cond-text {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.cond-pts {
  font-size: 14px;
  margin-left: 47px;
}

@media(max-width:768px) {
  .cond-pts {
    font-size: 14px;
    margin-left: 17px;
  }
}

.conditions--item {
  padding: 20px 0;
  /* border-bottom: 1px dashed #cfcece; */
}

.conditions--item:last-child {
  border-bottom: 0;
}

.conditions--item h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.conditions--item p {
  font-size: 12px;
  margin-bottom: 5px;
}

.conditions--item p:last-child {
  margin-bottom: 0;
}

@media(max-width:992px) {
  .sect3 h2 {
    font-size: 24px;
  }
}

@media(max-width:768px) {
  .sect3 h2 {
    font-size: 20px;
  }

  .conditions {
    margin-top: 0px;
  }
}

/* Credit take-off block STARTS */ 
.native-toast {
  position: fixed;
  background-color: rgba(50, 50, 50, .8);
  border-radius: 33px;
  color: white;
  left: 50%;
  text-align: center;
  padding: 10px 20px;
  opacity: 0;
  z-index: 99999;
  transition: transform .25s, opacity .25s, top .25s;
  box-sizing: border-box;
}

.native-toast-bottom {
  bottom: 50px;
  -ms-transform: translateX(-50%) translateY(50px);
  transform: translateX(-50%) translateY(50px);
}

.native-toast-bottom.native-toast-shown {
  opacity: 1;
  -ms-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}

.native-toast-bottom.native-toast-edge {
  bottom: 0;
}

.native-toast-top {
  top: 50px;
  -ms-transform: translateX(-50%) translateY(-50px);
  transform: translateX(-50%) translateY(-50px);
}

.native-toast-top.native-toast-shown {
  opacity: 1;
  -ms-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}

.native-toast-top.native-toast-edge {
  top: 0;
}

.native-toast-center {
  top: 0;
  -ms-transform: translateX(-50%) translateY(-50px);
  transform: translateX(-50%) translateY(-50px);
}

.native-toast-center.native-toast-shown {
  opacity: 1;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.native-toast-edge {
  border-radius: 0;
  width: 100%;
  text-align: left;
}

@media screen and (min-width:40rem) {
  .native-toast:not(.native-toast-edge) {
    max-width: 18rem;
  }
}

.native-toast-error {
  background-color: #d92727;
  color: white;
}

.native-toast-success {
  background-color: #62a465;
  color: white;
}

.native-toast-warning {
  background-color: #fdaf17;
  color: white;
}

.native-toast-info {
  background-color: #1b90e9;
  color: white;
}

[class^="native-toast-icon-"] {
  vertical-align: middle;
  margin-right: 8px;
}

[class^="native-toast-icon-"] svg {
  width: 16px;
  height: 16px;
}

.native - toast {
  position: fixed;
 background - color: rgba(50, 50, 50, .8);
 border - radius: 33 px;
 color: white;
 left: 50 % ;
 text - align: center;
 padding: 10 px 20 px;
 opacity: 0;
 z - index: 99999;
 transition: transform .25 s, opacity .25 s, top .25 s;
 box - sizing: border - box 
}
.native - toast - bottom {
  bottom: 50 px;
  - ms - transform: translateX(-50 % ) translateY(50 px);
 transform: translateX(-50 % ) translateY(50 px) 
}
.native - toast - bottom.native - toast - shown {
  opacity: 1;
  - ms - transform: translateX(-50 % ) translateY(0);
 transform: translateX(-50 % ) translateY(0) 
}
.native - toast - bottom.native - toast - edge {
  bottom: 0 
}
.native - toast - top {
  top: 50 px;
  - ms - transform: translateX(-50 % ) translateY(-50 px);
 transform: translateX(-50 % ) translateY(-50 px) 
}
.native - toast - top.native - toast - shown {
  opacity: 1;
  - ms - transform: translateX(-50 % ) translateY(0);
 transform: translateX(-50 % ) translateY(0) 
}
.native - toast - top.native - toast - edge {
  top: 0 
}
.native - toast - center {
  top: 0;
  - ms - transform: translateX(-50 % ) translateY(-50 px);
 transform: translateX(-50 % ) translateY(-50 px) 
}
.native - toast - center.native - toast - shown {
  opacity: 1;
 top: 50 % ;
  - ms - transform: translateX(-50 % ) translateY(-50 % );
 transform: translateX(-50 % ) translateY(-50 % ) 
}
.native - toast - edge {
  border - radius: 0;
  width: 100 % ;
  text - align: left 
}
@media screen and(min - width: 40 rem) {
  .native - toast: not(.native - toast - edge) {
      max - width: 18 rem 
 }
}
.native - toast - error {
  background - color: #d92727;
  color: white 
}
.native - toast - success {
  background - color: #62a465;
 color:white
}
.native-toast-warning{
 background-color:# fdaf17;
  color: white 
}
.native - toast - info {
  background - color: #5060ba;
 color:white
}
[class^= "native-toast-icon-"] {
  vertical - align: middle;
  margin - right: 8 px 
}
[class ^= "native-toast-icon-"] svg {
  width: 16 px;
 height: 16 px 
}
/* Credit take-off block ENDS */ 